button{
    border: none;
    outline: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}
iframe{
    display: block;
}
.reservation-title{
    font-size:2.5rem;
    font-weight:800;
    color:white;
    line-height:1;
}
.reservation-subtitle{
    font-size:1rem;
    line-height:1.7;
    color:rgba(255,255,255,.75);
}
.filter-box label{
    font-size:.95rem;
    font-weight:600;
    color:#0f172a;
}
.filter-box input,
.filter-box select{
    width:100%;
    padding:1rem;
    border:none;
    outline:none;
    border-radius:18px;
    background:white;
    font-size:1rem;
    color:#334155;
    box-shadow:0 8px 20px rgba(15,23,42,.06);
}
.room-card{
    box-shadow:0 10px 25px rgba(15,23,42,.08);
    transition:.3s;
}
.room-card:hover{
    transform:translateY(-5px);
}
.room-card img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:18px;
}
.room-content h2{
    font-size:1rem;
    font-weight:700;
    color:#0f172a;
}
.room-description{
    font-size:.83rem;
    line-height:1.5;
    color:#64748b;
}
.room-services span{
    padding:.45rem .7rem;
    border-radius:12px;
    background:#eff6ff;
    color:#2563eb;
    font-size:.7rem;
    font-weight:600;
}
.room-footer strong{
    font-size:.95rem;
    color:#0f172a;
}
.room-footer button{
    border:none;
    padding:.7rem .9rem;
    border-radius:12px;
    font-size:.75rem;
    font-weight:700;
    background:#2563eb;
    color:white;
    cursor:pointer;
}